:root {
  --color-1: #000;
  --color-2: #fff;
  --color-3: #6c6c6c;
  --bg-color-1: #fff;
  --bg-color-2: rgb(245, 245, 245);
  --bg-color-3: rgb(255, 220, 220);
  --bg-color-4: #000;
  --hover-bg-color: rgba(222, 222, 222, 0.5);
  --border-color: rgba(0, 0, 0, 0.1);

  --arrow-filter1: 98%;
  --arrow-filter2: 100%;
  --arrow-filter3: 0%;
  --arrow-filter4: 7deg;
  --arrow-filter5: 104%;
  --arrow-filter6: 101%;
}
