:root {
  --color-1: #000;
  --bg-color-1: #fff;
  --bg-color-2: rgb(245, 245, 245);
  --bg-color-3: rgb(255, 220, 220);
  --hover-bg-color: rgba(222, 222, 222, 0.5);
  --border-color: rgba(0, 0, 0, 0.2);
}
