@import "../colors";
@import "../reset";

// Cart Main
main {
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .cart-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      border-bottom: 1px solid var(--border-color);
      padding-bottom: 2rem;

      @media screen and (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
      }

      .cart-item {
        display: grid;

        @media screen and (min-width: 768px) {
          width: 224px;
          height: 380px;
        }

        @media screen and (min-width: 1440px) {
          width: 292px;
          height: 448px;
        }

        #item-img {
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1/1;
          box-sizing: content-box;
          overflow: hidden;

          img {
            border-radius: 12px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .item-info {
          margin-top: 1rem;
          padding: 16px;
          border: 2px solid var(--border-color);
          border-radius: 12px;
          transition: all 0.2s linear;

          &:hover {
            border-color: var(--bg-color-3);
          }

          #brand {
            color: var(--color-3);
            font-size: 12px;
            font-weight: 500;
          }

          #name {
            font-weight: 700;
            font-size: 16px;
            color: var(--color-1);
          }
        }

        .count-control {
          margin-top: 0.5rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          justify-content: center;

          @media screen and (min-width: 480px) {
            justify-content: start;
          }

          .wrapper {
            display: flex;
            gap: 1rem;
            border-right: 1px solid var(--border-color);
            box-sizing: content-box;
            padding: 1rem;

            button {
              width: 2rem;
              height: 2rem;
              border-radius: 9999px;
              border: none;
              cursor: pointer;
              text-align: center;
              font-size: 16px;
              font-weight: 600;
              font-family: $font-family-2;
              transition: all 0.2s linear;

              &:hover {
                background: var(--bg-color-3);
              }
            }

            #count {
              border-radius: 8px;
              width: 2rem;
              height: 2rem;
              padding-left: 8px;
              border-width: 1px;
              font-weight: 700;
            }
          }

          #remove {
            width: 2rem;
            height: 2rem;
            border-radius: 9999px;
            border: none;
            cursor: pointer;
            box-sizing: content-box;
            filter: invert(var(--arrow-filter1)) sepia(var(--arrow-filter2))
              saturate(var(--arrow-filter3)) hue-rotate(var(--arrow-filter4))
              brightness(var(--arrow-filter5)) contrast(var(--arrow-filter6));
            transition: all 0.2s linear;

            &:hover {
              filter: none;
              background: var(--bg-color-3);
            }

            img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    .order-container {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      button {
        padding: 0.5rem 1.5rem;
        font-family: $font-family-2;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
        border-radius: 9999px;
        transition: all 0.2s linear;
      }

      #order-btn {
        display: flex;
        align-items: center;
        gap: 12px;
        border-color: transparent;
        filter: invert(var(--arrow-filter1)) sepia(var(--arrow-filter2))
          saturate(var(--arrow-filter3)) hue-rotate(var(--arrow-filter4))
          brightness(var(--arrow-filter5)) contrast(var(--arrow-filter6));

        &:hover {
          filter: none;
          background: var(--bg-color-3);
        }

        img {
          width: 14px;
          height: 14px;
        }
      }

      #clear-btn {
        &:hover {
          color: var(--color-2);
          background: var(--bg-color-4);
        }
      }
    }
  }
}
