@import "../colors";
@import "../reset";

button {
  font-family: $font-family-2;
}

.active-page {
  background: var(--bg-color-3) !important;
}

// Shop Main

main {
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .main-section {
      display: flex;
      gap: 2rem;

      .right-side {
        .sorting-container {
          background: var(--bg-color-2);
          width: 100%;
          border-radius: 9999px;
          border: 1px solid var(--border-color) !important;
          position: relative;
          border: none;

          @media screen and (min-width: 1024px) {
            width: fit-content;
            min-width: 11rem;
          }

          #sorting-btn {
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: transparent;
            cursor: pointer;
            border: none;
            color: var(--color-1);
            width: 100%;

            h2 {
              font-size: 14px;
              font-weight: 700;
            }

            img {
              width: 10px;
              height: 14px;
              object-fit: contain;
            }
          }

          ul {
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: -1px;
            background: var(--bg-color-2);
            width: calc(100% + 2px);
            border-radius: 0 0 12px 12px;
            border: 1px solid var(--border-color);

            button {
              font-size: 12px;
              font-weight: 500;
              background: transparent;
              border: none;
              cursor: pointer;
              width: 100%;
              text-align: start;
              padding: 4px 8px;
              transition: all 0.2s linear;

              &:hover {
                background: var(--bg-color-3);
              }
            }
          }
        }

        .products-container {
          margin-top: 1.5rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;

          @media screen and (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
          }

          .product {
            display: flex;
            flex-direction: column;

            #product-img {
              aspect-ratio: 1/1;
              border-radius: 12px;
              overflow: hidden;
              border: 2px solid var(--border-color);
              transition: all 0.2s linear;

              &:hover {
                border-color: var(--bg-color-3);
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            p {
              margin-top: 0.5rem;
              font-size: 12px;
              font-weight: 500;
            }

            span {
              margin-top: 0.5rem;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
      }

      .filters-container {
        display: none;
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: 1024px) {
          display: flex;
        }

        button {
          background: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 12px;
          font-size: 16px;
          font-weight: 700;
          width: 100%;
          transition: background-color 0.2s linear;

          span {
            font-size: 18px;
            font-weight: 500;
            color: var(--color-1);
          }

          &:hover {
            background: var(--bg-color-2);
          }
        }

        .filters {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          // 1
          .filter-wrapper {
            display: flex;
            flex-direction: column;
            min-width: 220px;
            background: var(--bg-color-1);
            border-radius: 24px;
            overflow: hidden;
            border: 1px solid var(--border-color);
            // 2

            // filterWrapper.style.borderRadius = "12px";
            // filterBtn.style.borderBottom = "1px solid var(--border-color)";
            // filterBtn.style.backgroundColor = "var(--bg-color-3)";
            // filtersPlusMinus.textContent = "-";
            // categoriesFilterUl.classList.remove("display-none");
            #filter-btn {
              background: var(--bg-color-2);
              // background-color: var(--bg-color-3);

              &:hover {
                background: var(--bg-color-3) !important;
              }
            }
            // 3
            #categories-filter-ul {
              button {
                font-weight: 500;
                font-size: 14px;
              }

              img {
                width: 12px;
                height: 12px;
                object-fit: cover;
              }
              // 4
              #subcategories-filter-ul {
                margin-left: 12px;
                border-left: 1px solid var(--border-color);
              }
            }
          }

          .filter-wrapper.open-filter {
            display: flex;
            flex-direction: column;
            min-width: 220px;
            background: var(--bg-color-1);
            border-radius: 12px;
            overflow: hidden;
            border: 1px solid var(--border-color);

            #filter-btn {
              background-color: var(--bg-color-3);
              border-bottom: 1px solid var(--border-color);
              &:hover {
                background: var(--bg-color-3) !important;
              }
            }

            #categories-filter-ul {
              button {
                font-weight: 500;
                font-size: 14px;
              }

              img {
                width: 12px;
                height: 12px;
                object-fit: cover;
              }

              #subcategories-filter-ul {
                margin-left: 12px;
                border-left: 1px solid var(--border-color);
              }
            }
          }
        }

        #clear-filters {
          background: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 12px;
          font-size: 16px;
          font-weight: 700;
          width: 100%;
          min-width: 220px;
          background: var(--bg-color-2);
          border-radius: 24px;
          overflow: hidden;
          border: 1px solid var(--border-color);
          transition: background-color 0.2s linear;

          img {
            width: 12px;
            height: 12px;
            object-fit: cover;
          }

          &:hover {
            background: var(--bg-color-3);
          }
        }
      }
    }

    .page-navigation {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: center;
      gap: 5px;

      button {
        border-radius: 9999px;
        border: 2px solid #000;
        cursor: pointer;
        padding: 0.25rem 0.75rem;
        font-size: 14px;
        font-weight: 600;
        background: var(--bg-color-1);

        &:hover {
          background: var(--bg-color-2);
        }
      }
    }
  }
}
